.slider {
  margin-bottom: 40px;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 30px 0;

  list-style: none;
}

.slider__item {
  width: 96px;
  height: 124px;
  padding: 30px 25px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: $color-transparent;
  box-shadow: 0 4px 16px $color-shadow;
  border-radius: 16px;
}

.slider__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: $color-lightgrey;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slider__button-text {
  font-size: 20px;
  line-height: 24px;
}

.slider__item--current {
  background-color: $color-default-white;
}

.slider__item--current .slider__button {
  color: $color-green;
}

.slider__toogle-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider__toogle {
  display: flex;
  align-items: center;
  padding: 10px 0;

  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $color-default-darkblue;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}

.slider__icon--back {
  margin-right: 10px;
  transform: rotate(180deg);
}

.slider__icon--forward {
  margin-left: 10px;
}
